*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.banner{
    background-image: url('../images/banner/banner1.png');
   
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


/* tex area */
.tex{
    text-align: right;
    padding: 216px 230px 20px 600px;
}

.tex h3{
    font-size: 65px;
}

.sub-title{
    padding-top: 25px;
    color: #444343;
}

/* parimary btn area */
.primary-btn{
    width: 160px;
    height: 64px;
    margin-top: 32px;
    text-align: center;
    padding: 21px 25px 26px 30px;
    color: wheat;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 100px;

}


 /* failures style */
.container{
    margin: 0px 200px;
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
   
}

.my-failures{
    margin-top: 300px;
    margin-left: 87px;
}

.my-failures h4{
    font-size: 40px;
    margin-bottom: 24px;

    
}

.my-failures p{
    margin-bottom: 24px;
    color: #444343;
    
    
font-size: 16px;
line-height: 26px;

}

ul{
list-style:none;

}
ul li{
    font-size: 16px;
    text-align: justify;
    
}

ul li img{
    margin-top: 5px;
    
}


.mini-content{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
}


.container p{
    color: #737272;
    text-align: center;
    
}

.container div h4{
    font-size: 30px;
    align-items: center;
}

.watch{
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    margin-top: 100px;
    height: 300px;
    
    
    
}

.watch h2{
    color: aliceblue;
    margin-left: 200px;
   font-size: 40px
   
}


.secend-btn{
    width: 160px;
    height: 64px;
    margin-top: 32px;
    margin-left: 150px;
    text-align: center;
    padding: 21px 25px 26px 30px;
    color:#F15B22;
    background-color:white ;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 100px;
}

/* footer area style */
   footer{
    margin-top: 100px;
    background-color: black;
    height: 577px;
    display: flex;
    justify-content:space-between;
   }

   .left{
    color: aliceblue;
    text-align: justify;
    
   }
 .right{
    color: antiquewhite;
    width: 50%;
    margin-left: 100px;
 }
 .right h1{
    font-size: 40px;
 }
.five{
    line-height: 20px;
}

.left h1{
    font-size: 40px;
    margin-bottom: 16px;
}

.left h5{
    line-height: 24px;
    margin-bottom: 20px;
}

.left h2{}


.last-container{

    display: flex;
    gap: 20px;
    margin-top: 20px;
   
}

input{
    padding: 21px 151px 22px 21px;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    border-color: aliceblue;
    margin-top: 30px;

}